.container{
    border:3px solid #000000;
    height: 400px;
    width:400px;
    justify-content: center;
    display:flex;
    margin-left:38%;
    margin-top:8%;
    background-color: rgb(113, 212, 236);
    align-items: center;
    border-radius: 5%;
    /* box-shadow: -5px 5px -10px #666161; */
}
.calculator{
    background-color:  rgb(113, 212, 236);
    align-items: center;
    /* border-radius: 30%; */
    display:grid;
    grid-template-columns:repeat(4,70px);
    height:250px;
    margin-bottom: 25%;
}
input{
    grid-column: span 4;
    height:65px;
    width:260px;
    margin-bottom:5%;
    background-color: #fff;
    border-radius: 40%;
    
    
}

button{
    height:50px;
    width:50px;
    /* background-color: #fff; */
    box-shadow: 5px -5px 10px #666161;  
    margin:5%;
    border-radius: 50%;
    font-size:17px;
    
   
}

.equal{
    width:115px;
    border-radius:50%
}

.in{
    text-align: center;
    font-size: 20px;
}

.im{
    width:100%;
}

/* *{
    margin: auto;
} */
